<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 4</title>
    <link rel="stylesheet" href="https://productos-y-usuarios-enlace-bd.onrender.com/css/estilos.css">
    <script src="js/script.js" defer></script>
    <script src="js/scriptProducto.js" defer></script>
    <script src="js/scriptBlur.js" defer></script>
    <script src="https://kit.fontawesome.com/e6060c4e37.js" crossorigin="anonymous"></script>
    </div>
</head>
<body>
    <div class="navigation">
        <a href="/">Tabla de usuarios</a>
        <a href="/productos">Tabla de productos</a>
    </div>
